div {
    padding: 5px 0px 10px 0px;
}

#titulo {
    font-size:25px;
}

.form-control{
    margin: 15px 0 50px 0;
}

main {
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-family: "Thasadith", sans-serif;

}

  .table-header {
    background-color: #686868; 
    color: white; 
    font-weight: bold; 
    text-align: center;
    padding: 10px; 
  }


  .special-discipline-row {
    background-color: #f2f2f2;
  }

  #img-escola {
    border: 1px solid pink;
    border-radius: 5px;
    
  }

  #img-escola:hover {
    filter: grayscale(100%);
  }

  #header-css {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

  

