:root {
  --cor-principal: #e5cdc2;
  --fonte-principal: "Berkshire Swash", serif;
  --cor-secundaria: rgb(216, 174, 160);
    
}

h1 {
  font-family: var(--fonte-principal);
  text-shadow: 4px 2px 4px var(--cor-secundaria);
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family: var(--fonte-principal);
  font-size: 40px;
  text-shadow: 4px 2px 4px var(--cor-secundaria);
  color:white;
  text-align: center;

}

table {
  text-align: center;
  background-color: #faf7ef;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

div {
  padding: 5px 0px 10px 0px;
}


.form-control {
  margin: 15px 0 50px 0;
  text-align: left;
  font-size: 18px;
}

label {
  font-size: 30px;
  text-align: start;
  display: block;
  text-align: left;
  font-family: var(--fonte-principal);
  margin: 5px;
  text-shadow: 4px 2px 4px var(--cor-secundaria);
}

main {
  border-radius: 20px;
  padding: 20px;
  margin: 50px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; 
  background-color: var(--cor-principal);
}

.table-header {
  background-color: var(--cor-secundaria);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: var(--fonte-principal);
}

.special-discipline-row {
  background-color: #f7e3d5;
}

#img-escola {
  border: 3px solid var(--cor-secundaria);
  box-shadow: var(--cor-secundaria) 0px 10px 50px;
  border-radius: 5px;
  max-width: 500px;
}

#img-escola:hover {
  filter: grayscale(100%);
}

#header-css {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;  
  background-color: var(--cor-principal);
}

footer {
  text-align: center;
  padding: 8px;
  margin: 8px;
  font-family: var(--fonte-principal);
}

@media only screen and (min-width: 761px) and (max-width: 1124px){
      h1, h2{
        display:inline-block;
        margin-left: 80px;      
      }

      
      #img-escola {
        margin-left: 110px;
      }
  
}


@media only screen and (max-width: 760px) {
        

          #img-escola {
            width: 300px;
            text-align: center;
            border: 2px ridge var(--cor-secundaria)
          }

          main {
            width: fit-content;
            box-sizing: border-box;
          }

          header {
            width: 450px;
            box-sizing: border-box;
          }

          h1, h2 {
            text-align: center;
          }

          
          
          footer {
            margin-left: 20px;
          }

  
          .table-header {
            font-family: 'Times New Roman', Times, serif;
            font-size: 15px;
          }

          table {
            font-size: 12px ;
          }
        }